# Ignore artifacts:
build
coverage

# ,gitignore
.DS_Store
node_modules/
application/frontend/yarn.lock
application/frontend/node_modules

application/backend/.env

application/backend/node_modules
/.pnp
.pnp.js

application/backend/.DS_Store
application/backend/.env.local
application/backend/.env.development.local
application/backend/.env.test.local
application/backend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*