
.bg-img{
  background-image: url("./assets/bg2.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
}

.paper_hover:hover {
  transform: scale(1.05);
  transition: transform 1.25s;
}


.scroll-to-top {
  position:fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
